appdirs==1.4.3
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
dask==0.11.0
decorator==4.0.10
dill==0.2.6
en-core-web-md==1.2.0
en-core-web-sm==1.2.0
fuel==0.2.0
funcsigs==1.0.2
h5py==2.6.0
Keras==2.0.2
langdetect==1.0.6
matplotlib==1.5.1
mock==2.0.0
murmurhash==0.26.4
networkx==1.11
nltk==3.2.2
numexpr==2.6.0
numpy==1.12.1
packaging==16.8
pandas==0.18.1
pathlib==1.0.1
pbr==2.0.0
picklable-itertools==0.1.1
Pillow==3.2.0
plac==0.9.6
preshed==1.0.0
progressbar2==3.8.0
protobuf==3.2.0
pyemd==0.4.3
pyparsing==2.2.0
python-dateutil==2.5.3
python-utils==2.0.0
pytz==2016.6.1
PyYAML==3.12
pyzmq==15.2.0
requests==2.13.0
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.19.0
seaborn==0.7.1
six==1.10.0
sklearn==0.0
spacy==1.7.3
tables==3.2.2
tensorflow==1.0.1
termcolor==1.1.0
Theano==0.9.0
thinc==6.5.2
toolz==0.8.2
tqdm==4.11.2
ujson==1.35
wrapt==1.10.10
xgboost==0.6a2
